# =============== #
# Unity generated #
# =============== #
Image Control/Temp/
Image Control/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Image Control/ExportedObj/
Image Control/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
